[Desktop Entry]
Type=Application
Version=1.0
Name=Install Argent
GenericName=Argent Installer
Keywords=calamares;system;installer;
TryExec=calamares
Exec=sh -c "pkexec calamares"
Comment=Argent — System Installer
Icon=/usr/share/pixmaps/argent-logo.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
X-AppStream-Ignore=true

Name[ar]=تثبيت النظام 
Icon[ar]=/usr/share/pixmaps/argent-logo.png
GenericName[ar]=مثبت النظام
Comment[ar]=Argent - مثبت النظام
Name[as]=চিছটেম ইনস্তল কৰক
Icon[as]=/usr/share/pixmaps/argent-logo.png
GenericName[as]=চিছটেম ইনস্তলাৰ
Comment[as]=Argent — চিছটেম​ ইনস্তলাৰ
Name[ast]=Instalar el sistema
Icon[ast]=/usr/share/pixmaps/argent-logo.png
GenericName[ast]=Instalador del sistema
Comment[ast]=Argent — Instalador del sistema
Name[az]=Sistemi Quraşdırmaq
Icon[az]=/usr/share/pixmaps/argent-logo.png
GenericName[az]=Sistem Quraşdırıcısı
Comment[az]=Argent Sistem Quraşdırıcısı
Name[az_AZ]=Sistemi quraşdırmaq
Icon[az_AZ]=/usr/share/pixmaps/argent-logo.png
GenericName[az_AZ]=Sistem quraşdırcısı
Comment[az_AZ]=Argent — Sistem Quraşdırıcısı
Name[be]=Усталяваць сістэму
Icon[be]=/usr/share/pixmaps/argent-logo.png
GenericName[be]=Усталёўшчык сістэмы
Comment[be]=Argent — усталёўшчык сістэмы
Name[bg]=Инсталирай системата
Icon[bg]=/usr/share/pixmaps/argent-logo.png
GenericName[bg]=Системен инсталатор
Comment[bg]=Argent – Системен инсталатор
Name[bn]=সিস্টেম ইনস্টল করুন
Icon[bn]=/usr/share/pixmaps/argent-logo.png
GenericName[bn]=সিস্টেম ইনস্টলার
Comment[bn]=Argent - সিস্টেম ইনস্টলার
Name[ca]=Instal·la el sistema
Icon[ca]=/usr/share/pixmaps/argent-logo.png
GenericName[ca]=Instal·lador de sistema
Comment[ca]=Argent — Instal·lador de sistema
Name[cs_CZ]=Nainstalovat systém
Icon[cs_CZ]=/usr/share/pixmaps/argent-logo.png
GenericName[cs_CZ]=Instalátor systému
Comment[cs_CZ]=Argent – instalátor operačních systémů
Name[da]=Installér system
Icon[da]=/usr/share/pixmaps/argent-logo.png
GenericName[da]=Systeminstallationsprogram
Comment[da]=Argent — Systeminstallationsprogram
Name[de]=System installieren
Icon[de]=/usr/share/pixmaps/argent-logo.png
GenericName[de]=Installation des Betriebssystems
Comment[de]=Argent - Installation des Betriebssystems
Name[el]=Εγκατάσταση συστήματος
Icon[el]=/usr/share/pixmaps/argent-logo.png
GenericName[el]=Εγκατάσταση συστήματος
Comment[el]=Argent — Εγκατάσταση συστήματος
Name[en_GB]=Install Argent
Icon[en_GB]=/usr/share/pixmaps/argent-logo.png
GenericName[en_GB]=Argent Installer
Comment[en_GB]=Argent — System Installer
Name[eo]=Instali Sistemo
Icon[eo]=/usr/share/pixmaps/argent-logo.png
GenericName[eo]=Sistema Instalilo
Comment[eo]=Argent — Sistema Instalilo
Name[es]=Instalar el sistema
Icon[es]=/usr/share/pixmaps/argent-logo.png
GenericName[es]=Instalador del sistema
Comment[es]=Argent — Instalador del sistema
Name[es_MX]=Instalar el Sistema
Icon[es_MX]=/usr/share/pixmaps/argent-logo.png
GenericName[es_MX]=Instalador del sistema
Comment[es_MX]=Argent - Instalador del sistema
Name[et]=Paigalda süsteem
Icon[et]=/usr/share/pixmaps/argent-logo.png
GenericName[et]=Süsteemipaigaldaja
Comment[et]=Argent — süsteemipaigaldaja
Name[eu]=Sistema instalatu
Icon[eu]=/usr/share/pixmaps/argent-logo.png
GenericName[eu]=Sistema instalatzailea
Comment[eu]=Argent - sistema instalatzailea
Name[fa]=نصب سامانه
Icon[fa]=/usr/share/pixmaps/argent-logo.png
GenericName[fa]=نصب‌کننده سامانه
Comment[fa]=Argent — نصب‌کننده سامانه
Name[fi_FI]=Asenna järjestelmä
Icon[fi_FI]=/usr/share/pixmaps/argent-logo.png
GenericName[fi_FI]=Järjestelmän asennusohjelma
Comment[fi_FI]=Argent — Järjestelmän asentaja
Name[fr]=Installer le système
Icon[fr]=/usr/share/pixmaps/argent-logo.png
GenericName[fr]=Installateur système
Comment[fr]=Argent - Installateur système
