[Desktop Entry]
Encoding=UTF-8
Type=Application

Exec=xdg-open https://argentlinux.io
Icon=/usr/share/pixmaps/argent-weblink.png

Name=Argent Homepage
Name[ro]=Pagina Web Argent

